@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

$wrapper-width: 1000px;

$font-size-regular: 13px;
$title-subsection: 30px;
$base-color: #454545;
$base-color-link: #349d1a;
$color-grey-link: #515151;
$color-border-inputs: #a8a8a8;
$color-border-inputs-pale: #c2c2c2;
$radius-input: 4px;

$table-border-separator-color: #d8d8d8;