/* Sass Document */
@import 'bootstrap';
@import "font-awesome";
@import 'constants';

body {
  background: white;
  font-family: Tahoma, sans-serif;
  font-size: $font-size-regular;
  color: $base-color;
}
a {
  color: $base-color-link;
  &:hover,
  &:focus {
    color: black;
    text-decoration: none;
  }
}
/* ==== Wrap blocks === */
.wrap-block {
  padding: 0 60px;
  max-width: 1400px;
  min-width: $wrapper-width;
}
.app-header {
  min-width: $wrapper-width;
}
/* ==== Headers === */
h1 {

}
h2 {

}
h3 {

}
h4 {

}
.title-subsection {
  font-size: $title-subsection;
  padding: 0 0 30px;
  font-family: 'Open Sans';
  font-weight: 700;
  color: #000;
}
/* separators */
.separator-horizontal {
  text-align: center;
  color: #a1a1a1;
  border-bottom: 1px solid #d3d3d3;
  padding: 2px;
  margin-bottom: 20px;
  span {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    position: relative;
    top: 11px;
    background: white;
  }
}
/* ==== Table actions === */
.table-action-set {
  white-space: nowrap;
  position: relative;
  * {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
  }
  a {
    font-size: 18px;
    color: $color-grey-link;
    margin: 0 2px;
    &:hover {
      color: black;
      text-decoration: none;
    }
    &.icon-delete {
      @include opacity(.5);
      &:hover {
        @include opacity(1);
        color: #ff0000;
      }
    }
  }
  .separator-actions {
    border-right: 1px solid #d5d5d5;
    height: 30px;
    margin: 0 5px;
  }
}


/* ==== Base input style === */
.base-input-style {
  border-radius: 0;
  border: 1px solid $color-border-inputs;
  -webkit-appearance: none; /* Mac */
  -moz-appearance: none;
  padding: 7px 10px;
  background-color: white;
}

/* ==== Add fake shadow to input groups === */
.shadow-input-group {
  padding-bottom: 1px;
  background-color: #ececec;
  border-bottom: 1px solid #f8f8f8;
  border-radius: $radius-input;
}
/* ==== Icons === */
.icon-tree {
  background: url('../images/icon-tree.png');
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-left: 4px;
  vertical-align: middle;
}
.trigger-search-box {
  color: #43a721;
  vertical-align: middle;
  font-size: 14px;
  &:hover {
    color: #237807;
  }
}
/* ==== Add gradient to form item === */
.gradient-form-grey {
  background-color: #fff;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3ZTdlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(bottom, #e7e7e7 0%, #f4f4f4 100%);
  background-image: -o-linear-gradient(bottom, #e7e7e7 0%, #f4f4f4 100%);
  background-image: -webkit-linear-gradient(bottom, #e7e7e7 0%, #f4f4f4 100%);
  background-image: linear-gradient(bottom, #e7e7e7 0%, #f4f4f4 100%);
}
.gradient-form-green {
  border-color: #4c9f22;
  background-color: #5dbb2f;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjYiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.2) 0%, rgba(0,0,0,0) 100%);
  background-image: linear-gradient(bottom, rgba(0,0,0,.2) 0%, rgba(0,0,0,0) 100%);
  color: white;
  &:hover {
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.06) 0%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(bottom, rgba(0,0,0,.06) 0%, rgba(0,0,0,0) 100%);
  }
  /* Exception for the search button */
  .fa-search {
    font-size: 18px;
    margin: -3px -2px -2px;
    line-height: 23px;
    position: relative;
    top: 1px;
  }
  &.btn {
    &:hover,
    &:focus {
      color: white;
    }
  }
  .btn-text {
    font-size: 14px;
    padding-left: 10px; 
  }
}
/* ==== Alter all the nice boostrap style. Because designer === */
.dropdown-sticky {
  border-radius: 0 0 4px 4px;
  margin: -1px 0 0;
}
.input-group-btn {
  &.open {
    .dropdown-toggle {
      /* border-radius: 4px 0 0 0; */
    }
  }
}
/* If the input has a button to his right let's remove the grey border */
.has-button-right {
  border-right: 0;
}
.dropdown-toggle {
  padding-right: 40px;
}
.fixed-static-search {
  min-width: 140px;
  width: 140px;
  text-align: left;
}
.btn-wide-padder {
  padding-left: 30px;
  padding-right: 30px;
}
.btn-default {
  &:hover {
    background-color: #fff;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3ZTdlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(bottom, #e7e7e7 0%, #f4f4f4 100%);
    background-image: -o-linear-gradient(bottom, #e7e7e7 0%, #f4f4f4 100%);
    background-image: -webkit-linear-gradient(bottom, #e7e7e7 0%, #f4f4f4 100%);
    background-image: linear-gradient(bottom, #e7e7e7 0%, #f4f4f4 100%);
  }
}

/* Column sizes variations */
.selector-narrow {
  width: 100px !important;
}


.select-middle-selector {
  @extend .base-input-style;
  border-color: $color-border-inputs-pale;
  display: block;
  position: relative;
  z-index: 3;
}

/* ==== Replace the normal <select> with a custom div one === */
.select-replace {
  position: relative;
  padding-right: 34px;
  &:after {
    font-family: FontAwesome;
    content: $fa-var-caret-down;
    position: absolute;
    right: 13px;
    top: 50%;
    margin-top: -5px;
    font-size: 11px;
  }
}
.select-option-list {
  margin: -1px 0 0;
  border-radius: 0 0 4px 4px;
  left: -1px;
  max-height: 295px;
  overflow: auto;
  > li {
    > a {
      color: #646464;
      margin: 0 7px;
      padding: 5px 10px;

      &:hover {
        border-radius: 3px;
        background: #e3f8d9;
      }
    }
  }
}


.no-limit {
  width: auto !important;
}

/* Stolen from the Bootstrap scss */
// Open state for the dropdown

/* So I'm doing this so that I don't have to create a new style for the
    dynamic search box. I'm using the same dropdown-menu class */

.dropdown-menu {
  display: none !important;
  .dropdown-menu {
    display: block !important;
    position: relative;
    left: 0;
    border: 0;
  }
}
.open {
  // Show the menu
  > .dropdown-menu {
    display: block !important;
  }
}
.search-box {
  padding-bottom: 0;
  border-radius: 0 0 4px 4px;
  padding-top: 0;
}
.search-box-header {
  padding: 11px 16px 12px;
  background: #5eba2f;
  font-size: 12px;
  margin: -1px -1px 0;
  color: white;
  border-radius: 3px 3px 0 0;
  a {
    float: right;
    color: white;
  }
}
.search-zone {
  padding: 10px 16px 11px;
  position: relative;
  border-bottom: 1px solid #c6c6c6;
  background-color: #fff;
  z-index: 9000;
  @include box-shadow(0 2px 7px rgba(0,0,0,.19));
  height: 43px;
  margin-bottom: 5px;
  &:before {
    font-family: FontAwesome;
    content: $fa-var-search;
    position: absolute;
    left: 18px;
    top: 12px;
    color: #ddd;
  }
  input {
    position: absolute;
    left: 0;
    background: transparent;
    top: 0;
    width: 100%;
    padding: 12px 8px 10px 40px;
    border: 0;
  }
}

/* ==== The tabs inside the table === */
.table-tabs {
  position: relative;
  .nav {
    border-bottom: 1px solid #c7c7c7;

    li {
      display: inline-block;
      padding: 0 10px 10px;
      &.active {
        &:after {
          content: "";
          border: 7px solid #c7c7c7;
          border-top-color: transparent;
          border-right-color: transparent;
          border-left-color: transparent;
          width: 0;
          height: 0;
          position: absolute;
          left: 50%;
          margin-left: -11px;
          bottom: 0;
        }
        a {
          color: $base-color;
          @include opacity(1);
        }
      }
      a {
        color: $color-grey-link;
        font-size: $font-size-regular;
        @include opacity(0.5);
        &:hover {
          background: none;
        }
      }
    }
  }
}
/* ==== Indicators for Insert() === */
.row-specific-selection {
  position: absolute;
  left: -65px;

  &.active {
    .order-number {
      background: #606060;
      border-color: #606060;
      color: white;
    }
  }
  &.disabled {
    .order-number {
      background: #d7d7d7;
      border-color: #d7d7d7;
      color: white;
    }
    .set-letter {
      background-color: #a7a7a7;
    }
  }

  * {
    font-weight: bold;
    border-radius: 50%;
  }
}
.order-number {
  border: 1px solid #777;
  background-color: #fff;
  font-size: 12px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 27px;
}
.set-letter {
  background: #259313;
  font-size: 10px;
  position: absolute;
  width: 17px;
  height: 17px;
  text-align: center;
  line-height: 16px;
  color: white;
  top: -5px;
  right: -5px;
}

/* ==== The table === */
.table {
  thead {
    tr {
      th {
        padding: 11px 15px 9px;
      }
    }
  }
  tbody {
    tr {
      td {
        padding: 20px 15px 16px;
      }
    }
  }
  thead {
    th {
      background: #606060;
      color: white;
      font-size: 12px;
    }
  }
  tfoot  {
    tr {
      td {
        background: #f2f2f2;
        vertical-align: middle;
        padding: 15px 15px 16px
      }
    }
  }
}
.footer-table {
  tbody {
    tr {
      td {
        background: #f2f2f2;
        vertical-align: middle;
        padding: 10px 0 10px 15px;
        .btn {
          margin-right: 15px;
        }
      }
    }
  }
  .actions {
    .btn {
      font-size: 12px;
      padding: 5px 20px;
      margin-left: 20px;
      margin-right: 5px;
    }
  }
}
.sub-table {
  background: url("../images/sub-row-arrow.png") 27px -186px no-repeat;
  padding: 5px 0 15px 67px !important;

  .table-action-set {
    position: absolute;
    left: -51px;
    top: 63px;
    border: 2px solid white;
    background: white;
  }
  .condition {
    position: absolute;
    right: -105px;
  }
  td {
    border-bottom: 1px solid white;
    padding: 15px 0 11px 15px !important;
    background: #f6f6f6;
    .input-single-line {
      background-color: transparent;
    }
  }
}

.condition {
  border-bottom: 0;
  position: relative;
  top: -37px;
  display: block; /* FF needs it */
  @extend .selector-narrow;
  .connector {
    border: 1px solid $color-border-inputs-pale;
    border-left: 0;
    width: 20px;
    height: 67px;
    position: absolute;
    top: -15px;
    left: 5px;
    z-index: 1;
  }
  &.hidden {
    display: none;
  }
}

/* ==== Insert() === */
td.actions {
  white-space: nowrap; 
}
.insert-db {
  color: $color-grey-link;
  margin-left: 3px;
  &:hover {
    color: $base-color-link;
  }
  strong {
    color: #53b329;
    font-size: 12px;
  }
  .fa {
    margin-right: 7px;
    font-size: 15px;
    vertical-align: middle;
    position: relative;
    top: -1px;
  }
}
.insert-db + .insert-db {
  margin-left: 0;

}
.input-container {
  @extend .select-middle-selector;
  display: inline-block;
  vertical-align: text-bottom;
  width: 190px;
  text-align: left;
  padding: 6px;
  height: 35px;
  &.disabled {
    @include opacity(.6);
    .set-letter {
      background: #c9c9c9;
    }
  }
  .insert-db-item {
    border: 1px solid #c6c6c6;
    background-color: #fff;
    background-image: -moz-linear-gradient(bottom, rgba(231,231,231,.5) 0%, rgba(244,244,244,.5) 100%);
    background-image: -o-linear-gradient(bottom, rgba(231,231,231,.5) 0%, rgba(244,244,244,.5) 100%);
    background-image: -webkit-linear-gradient(bottom, rgba(231,231,231,.5) 0%, rgba(244,244,244,.5) 100%);
    background-image: linear-gradient(bottom, rgba(231,231,231,.5) 0%, rgba(244,244,244,.5) 100%);
    padding: 3px 3px 1px 8px;
    color: #646464;
    margin: -3px 0 0;
    span {
      vertical-align: baseline;
      color: $color-grey-link;
      margin: 0 5px 5px;
      cursor: pointer;
    }
  }
  .set-letter {
    position: relative;
    border-radius: 50%;
    font-size: 14px;
    width: 23px;
    height: 23px;
    line-height: 23px;
    margin: 0 8px 0 -5px;
    top: -2px;
  }

  * {
    display: inline-block;
    vertical-align: middle;
  }

  & + .inputs-severed {
    display: inline-block;
    vertical-align: text-bottom;
    top: -5px;
    width: 60px;
    margin: 0 10px;

    .input-single-line {
      background-color: transparent;
      top: -5px;
    }
  }
}
.placeholder {
  font-style: italic;
  color: #b7b7b7;
}

/* ==== Android like input style === */
.inputs-severed {
  border-right: 1px solid $color-border-inputs;
  border-left: 1px solid $color-border-inputs;
  height: 14px;
  width: 100%;
  max-width: 200px;
  position: relative;
  margin-top: 26px;
}
.input-single-line {
  @extend .base-input-style;
  border: 0;
  border-bottom: 1px solid $color-border-inputs;
  margin: -13px 0 0;
  position: relative;
  top: -18px;
  display: block;
  width: 100%;
  height: 32px;
}

/* ==== Row actions (add, remove) === */
.sub-row-action {
  text-align: right;
  padding-right: 15px;
  a {
    font-size: 11px;
    color: $color-grey-link;
    span {
      margin-right: 6px;
    }
  }
}
.row-add-new {

  a {
    color: $color-grey-link;
    white-space: nowrap;
    span {
      margin: 0 8px 0 1px;
      font-size: 17px;
      vertical-align: text-top;
    }
  }
} /* row add new */

/* ==== Helpers === */
.inline-b {
  display: inline-block; 
}
.container-relative {
  position: relative;
}
.container-static {
  position: static;
}
.no-border {
  border: 0 !important;
}

/* ==== Search by type - top area === */
.selection-area {
  padding: 5px 0 40px;

  .label-type {
    padding: 0 10px 0 0; 
  }
  .arrow-separator {
    background: url('../images/arrow-separator.png') right 50% no-repeat;
    display: inline-block;
    height: 15px;
    width: 80px;
    vertical-align: middle;
    margin-right: 10px;
  }
  .selection-box {
    width: 215px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    .btn {
      padding: 8px 13px;
      &:hover {
        background-image: none; 
      }
    }
    .form-control {
      height: auto;
      padding: 8px 15px;
      border-right: 0
    }
    .delete-entry {
      color: #b5b5b5;
      &:hover {
        color: #ff0000; 
      }
    } /* Delete */
    .search-box {
      width: 215px;
      margin-top: -3px;
      .dropdown-menu {
        width: 213px; 
      }
    }
  }
  
  .radio-block {
    padding-left: 5px;
    .inline-b {
      padding-right: 20px; 
    }
    input {
      position: relative;
      top: -1px; 
    }
  }
  
  .btn-wide-padder {
    padding: 8px 20px;
  }
}
/* ==== Search tabs === */
.search-tabs {
  padding-bottom: 27px;
  
   > li {
     margin-right: 15px;
      > a {
         border: 1px solid #e4e4e4;
         color: #7f7f7f;
         padding: 10px 25px;
      }
      &.active {
        > a {
          border-color: #c9c9c9;
          background: white;
          color: #333;
          position: relative;
          
            &:after, 
            &:before {
              top: 100%;
              left: 50%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
            }
            
            &:after {
              border-color: rgba(255, 255, 255, 0);
              border-top-color: #fff;
              border-width: 8px;
              margin-left: -8px;
            }
            &:before {
              border-color: rgba(201, 201, 201, 0);
              border-top-color: #c9c9c9;
              border-width: 9px;
              margin-left: -9px;
            }
        }
        &:hover {
          a {
             background: white;
             color: #000;
          }
        }
      }
   } 
} /* .search-tabs */

/* ==== Header === */
.app-header {
  padding: 15px 60px;
}
.app-banner {
  padding-left: 50px;

    @media only screen and (max-width : 1200px) {
      width: 290px;
      vertical-align: super;
    }

}
.block {
  position: relative;
  display: inline-block;
  vertical-align:  middle;
  margin-left: 35px
}
.app-user-area {
  float: right;
  padding-top: 8px;
}

.user-avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  float: left;
}
.language-switcher {
  .fa {
    margin-left: 5px;
    color: #ccc;
  }
}
.user-info {
  float: none;
  margin-left: 51px;
  padding-top: 1px;
  display: block;
  .user-actions {
    padding-left: 8px;

    a {
      font-size: 17px;
      color: $color-grey-link;
      @include opacity(.4);
      &:hover {
        @include opacity(.8);
      }
    }
  }
  a {
    font-size: 13px;
    margin-right: 8px;
    &:hover {
      text-decoration: none;
      color: $base-color-link;
    }
  }
  .info {
    font-size: 11px;
    color: #999;
    padding-top: 3px;
    display: block;
  }
}

/* ==== Navigation === */
.app-menu {
  background: #43ac19;
  border-top: 2px solid #3e8a17;
  border-bottom: 1px solid #3e8a17;
  margin-bottom: 25px;
  padding: 20px 0 0;
  font-family: 'Open Sans';

  ul {
    margin: 0 0 -1px;
    padding: 0;
  }

  li {
    display: inline-block;
    list-style: none;
    margin-right: 3px;
    border-radius: 4px 4px 0 0;
    background: #449918;
    vertical-align: bottom;
    overflow: hidden;

    &.active {
      background: white;
      padding-bottom: 5px;
      position: relative;
      top: -5px;
      margin-bottom: -5px;
      a {
        color: #616161;
        font-weight: bold;
        padding-top: 16px;
        padding-bottom: 6px;
        &:hover {
          background: none;
          color: #616161;
        }
      }
      .fa {
        padding-top: 19px;
        height: 44px;
        padding-bottom: 13px;
        position: relative;
        top: 5px;
        margin-top: -5px;
        border-left: 1px solid #ddd;
      }
    }

    a {
      display: inline-block;
      color: white;
      padding: 11px 19px;
      vertical-align: top;
      &:hover {
        text-decoration: none;
        color: white;
        background: #2D7209;
        border-radius: 4px 0 0 0;
      }

    }
    .fa {
      padding: 14px 13px 15px;
      margin-left: -4px;
      height: 40px;
      position: relative;
      z-index: 90;
      border-left: 1px solid #43ac19;
      color: #81e151;

      &:hover {
        border-radius: 0 4px 0 0;
        background: #60C02F;
      }

      @media only screen and (max-width : 1200px) {
        padding: 14px 8px 15px 8px;
      }

    }

  }
}
/* ==== Breadcrumbs === */
.app-breadcrumbs {
  margin-top: -10px;
  margin-bottom: 20px;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    font-family: 'Open Sans';
    font-size: 11px;
    list-style: none;
    display: inline-block;
  }
}
