*
  box-sizing border-box

//html
//  -webkit-font-smoothing antialiased

body
  margin 0
  padding 0
  font-family $Regular
  font-size $baseFontSize
  line-height 1.5
  color $baseColor
  background #ffffff

.clearfix
  &:after
  &:before
    content ''
    display table
    line-height 0
  &:after
    clear both


a
.link
  @extend $link

.link
  &_second
    @extend $linkSecond

strong
  font-family $Medium
  font-weight normal

h1
h2
h3
h4
h5
h6
  color $colorBlack

.page-title
  font-family $Bold
  font-size 30px
  margin 0 0 30px 0
  padding 0
  font-weight normal
  color $colorBlack

.arrow-separator
  display inline-block
  vertical-align middle
  height 15px
  width 75px
  background url('../images/arrow-separator.png') right 50% no-repeat
  margin 0 15px

  &_size_small
    width 25px

.light-grey
  color #b9b9b9

.label
  display inline-block
  background #f6f6f6
  color #7e7e7e
  font-size 12px
  line-height 22px
  padding 0 6px
  font-family Tahoma, Arial, sans-serif
  border-radius 2px
