.icon
  display inline-block
  //vertical-align middle
  font-family $FontAwesome
  font-style normal
  font-weight normal
  line-height 1
  position relative
  font-size inherit

  &_angle-right
    &::before
      content "\f105"

  &_angle-d-right
    &:before
      content "\f101"
