.icon
  display inline-block
  //vertical-align middle
  font-family $FontAwesome
  font-style normal
  font-weight normal
  line-height 1
  position relative
  font-size inherit

  &_angle-right
    &::before
      content "\f105"

  &_angle-d-right
    &:before
      content "\f101"

  &_cross
    &:before
      content "\f00d"

  &_download
    margin 0 7px 0 0
    &:before
      content "\f019"

  &_arrow_right
    &::before
      content "\f061"

  &_lock
    &::before
      content "\f023"

  &_arrow-c_right
    &::before
      content "\f190"

  &_history
    &::before
      content "\f1da"

  &_eye
    font-size 18px
    &:before
      content "\f06e"

  &_plus
    &::before
      content "\f055"
