.page-header
  position relative

  &__top
    padding 15px 20px

  &__logo
    display inline-block
    vertical-align top
    width 216px
    height 60px
    background url('../images/app-logo.jpg') 0 center no-repeat

  &__banner
    display inline-block
    vertical-align top
    width 380px
    height 60px
    background url('../images/app-banner.png') 0 center no-repeat
    background-size auto 100%
    margin 0 0 0 50px

  &__user-nav
    display inline-block
    vertical-align top

