@media print
  .page-header
  .back-nav
    display none

  .asset-page

    &__aside
      display none

    &__content
      display block
      width 100%

  .asset-controls-panel
    display none !important

  .page-title
    margin-bottom 10px

  .revision-info
    margin-top 0 !important
    margin-bottom 20px

  .breadcrumbs
    display none !important
