.asset-controls-panel
  display block
  padding 20px 15px
  margin 0 0 20px 0

.asset-controls-panel-wrapper
  display block
  max-width 1200px
  margin 0 auto

.sticky
  z-index 2000

  .asset-controls-panel
    background #ffffff
    box-shadow 0 4px 3px -3px #999999

  .asset-controls-panel-wrapper
    padding-left 204px
    height 0

