.btn
  display inline-block
  vertical-align top
  position relative
  text-align center
  cursor pointer
  font-family $Regular
  font-weight normal
  height 42px
  padding 11px 18px
  font-size 13px
  line-height 1.42857
  white-space nowrap
  border-radius $br
  user-select none
  background-color  $btnBgColor
  background-image linear-gradient(bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%)
  color $btnColor
  border 1px solid $btnBorderColor
  text-decoration none !important
  outline 0
  transition all .25s ease
  -webkit-appearance none
  box-shadow none
  text-overflow ellipsis

  &:hover
    background-image linear-gradient(bottom, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0) 100%)

  &:active
  &.btn_state_active
    outline 0
    box-shadow inset 0 3px 5px rgba(0, 0, 0, 0.125)

  &:focus
    box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(76, 159, 34, 0.6)

  &__icon
    display inline-block
    vertical-align middle
    font-family $FontAwesome
    font-style normal
    font-weight normal
    line-height 1
    position relative
    font-size inherit
    margin 0 10px

    &:first-child
      margin-left 0

    &:last-child
      margin-right 0

    &_search
      top -1px
      font-size 18px
      line-height 23px
      &::before
        content "\f002"

    &_angle-right
      &::before
        content "\f105"

    &_list
      &::before
        content "\f0ca"

    &_tiles
      &::before
        content "\f00a"

  &_type_second
    background $btnSecondaryBgColor
    color $btnSecondaryColor
    border-color $btnSecondaryBorderColor

    &:hover
      background-color $btnSecondaryBgColorHover
      background-image linear-gradient(bottom, #e7e7e7 0%, #f4f4f4 100%)

    &:active
    &.btn_state_active
      outline 0
      background-color $btnSecondaryBgColorActive
      background-image none
      box-shadow inset 0 3px 5px rgba(0, 0, 0, 0.125)

    &:focus
      box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.2)

  &:disabled
    background-color $btnBgColorDisabled
    border-color $btnBgColorDisabled

