.datagrid
  display block

  &__filter
    display block
    position relative
    font-size 0
    background-color #4d4d4d
    color #ffffff
    border 1px solid #d3d3d3
    border-bottom none

    &-item
      display inline-block
      vertical-align top
      font-size $baseFontSize
      padding 8px 19px
      border-right 1px solid #d3d3d3
