.input-group
  display inline-block
  vertical-align middle
  margin 0

  &_block
    display: block

  &__row
    margin-bottom: 10px

    &:last-child
        margin-bottom: 0

  & > .input-txt
    margin-left -1px

    .input-txt__field
      border-radius 0

    &:first-child
      .input-txt__field
        border-radius $br 0 0 $br
        margin-left 0

    &:last-child
      .input-txt__field
        border-radius 0 $br $br 0

  & > .btn
    border-radius 0

    &:first-child
      border-radius $br 0 0 $br

    &:last-child
      border-radius 0 $br $br 0

  & > .select

    &:first-child
      .is-open > .Select-control
        border-bottom-right-radius 0
        border-bottom-left-radius 0

      .Select-control
        border-radius $br 0 0 $br

  & >
    .select
    .btn
    .input-txt
      margin-left -1px
      vertical-align top

      &:first-child
        margin-left 0

  &__item
    margin-left 30px

    &-title
      margin-right 10px

    &:first-child
      margin-left 0

.inputs-line
  display inline-block
  vertical-align middle
  margin 0

  &_float
    display flex
    justify-content space-between
    >  *
      flex-basis 48%

  &_sliding
    position fixed
    left 0
    bottom 0
    padding 20px 0
    background #ffffff
    border-top solid 1px #cecece
    z-index 1000

    .inputs-line__wrapper
      max-width 1224px
      margin auto
      padding-left 215px

      .btn:first-of-type
        margin-left 0

  .select
  .input-txt
  .btn
    margin-left 20px

    &:first-child
      margin-left 0

  &_width_full
    display block
    width 100%

.radio-group
  display inline-block
  margin 0 15px

  &:first-child
    margin-left 0

  &:last-child
    margin-right 0

  .radio-btn
    margin 0 0 0 15px

    &:first-child
      margin-left 0
