.input-txt
  display inline-block
  vertical-align top
  position relative
  text-align left

  &_width_full
    width 100%

  &__field
    display block
    position relative
    width 100%
    height 42px
    padding 11px 18px
    font-size 13px
    line-height 1.42857
    color $baseColor
    background-color #ffffff
    background-image none
    border 1px solid #cccccc
    border-radius $br
    box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.075)
    transition border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s

    &_area
      height 200px
      resize vertical
      font-size 15px
      line-height 22px
      font-family Regular
      padding 10px 20px

    &:focus
      z-index 1
      border-color #4c9f22
      outline 0
      box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(76, 159, 34, 0.6)

    &:disabled
      opacity 0.25
      cursor default

  &_size_small

    .input-txt__field
      height 36px
      padding 8px 15px

  &_width_475
    width 475px
