.input-group
  display inline-block
  vertical-align middle
  margin 0

  & > .input-txt

    .input-txt__field
      border-radius 0

    &:first-child
      .input-txt__field
        border-radius $br 0 0 $br

    &:last-child
      .input-txt__field
        border-radius 0 $br $br 0

  & > .btn
    border-radius 0

    &:first-child
      border-radius $br 0 0 $br

    &:last-child
      border-radius 0 $br $br 0

  & > .select

    &:first-child
      .selectize-input
        border-radius $br 0 0 $br

.inputs-line
  display inline-block
  vertical-align middle
  margin 0

  .select
  .input-txt
  .btn
    margin-left 20px

    &:first-child
      margin-left 0

.radio-group
  display inline-block
  margin 0 15px

  &:first-child
    margin-left 0

  &:last-child
    margin-right 0

  .radio-btn
    margin 0 0 0 15px

    &:first-child
      margin-left 0
