.input-txt
  display inline-block
  vertical-align top
  position relative
  text-align left

  &_width_full
    width 100% !important
    // margin 0 0 20px 0 // Alexey will fix this

  &_width_wide
    width 425px

  &__field
    display block
    position relative
    width 100%
    height 42px
    padding 11px 18px
    font-size 13px
    line-height 1.42857
    color $baseColor
    background-color #ffffff
    background-image none
    border 1px solid #cccccc
    border-radius $br
    box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.075)
    transition border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s

    &_area
      height 200px
      min-height 135px
      resize vertical
      font-size 15px
      line-height 22px
      font-family Regular
      padding 10px 20px

    &:focus
      z-index 1
      border-color #4c9f22
      outline 0
      box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(76, 159, 34, 0.6)

    &:disabled
      opacity 0.25
      cursor default

  &__clear
    display inline-block
    position absolute
    color #999999
    cursor pointer
    font-size 16px
    padding 3px 15px
    right 0
    top 0
    z-index 1

    &:hover
      color #c0392b

  &__title
    display block
    margin 0 0 10px 0

  &_type_second &

    &__field

      &:focus
        border-color #3198e0
        box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(74, 125, 246, 0.6)

      &::placeholder
        text-align right

  &_text

    .input-txt__field
      height 36px
      padding 8px 15px

  &_textarea

    .input-txt__field
      height 90px
      padding 8px 15px


  &_state_error &

    &__field
      border-color #df3233
      box-shadow none
      background #fff8f8

      &:focus
        border-color #df3233
        box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(223, 50, 51, 0.6)

  &_width_475
    width 475px
