.loader
  display block
  position fixed
  left 0
  top 0
  right 0
  z-index 1000
  background #3e8a17
  box-shadow 0 0 10px #3e8a17, 0 0 5px #3e8a17
  height 5px
  pointer-events none

  &::after
    @extend $loading
    background-size 25px 25px
