.permissions-label
  display inline-block
  font-family $Bold
  font-size 13px
  line-height 20px
  color #a6a6a6
  background #e0e0e0
  border-radius 2px
  text-align center
  padding 0 3px
  margin 0 5px 0 0
  min-width 20px

  &_editable
    cursor pointer

  &_active
    background $colorGreen
    color #ffffff

