.rich-editor
  border 1px solid #ccc
  display block
  height: 200px

  .quill-toolbar
    border-bottom 1px solid #ccc

  .quill
    height 100%

  .ql-container
    height calc(100% - 42px)

.asset-data__param-content

  .rich-editor
    max-width 520px
