.tabs-complex-value
  .tabs-navigation
    border-bottom 1px solid #c7c7c7

.search-condition
  display block
  background #f6f6f6

  &_simple
    .table-search__row-item
      width 100%

  .table-search__row-item
    padding-left 5px
    padding-right 5px

  .table-search__row-item_type
    &_oper
      width 14%

  .table-search__rows-controls
    padding 20px 10px
    display inline-block
    font-size 11px

    .icon
      font-size 14px

  .table-search__row-item_type_inner
    padding 0

  .search-condition
    .table-search__row-item
      padding-top 0
