.Select
  border-color #ccc


.select
  min-width 140px
  display inline-block
  vertical-align middle
  font-size $baseFontSize
  font-family $Regular
  line-height: 1.5
  text-align left
  color $baseColor

  &_width_full
    width 100% !important
    margin 0 0 20px 0

  &_search_false
    .selectize-input > input
      display none

  &.select_size_small
    .Select-arrow
      top 15px

    .Select
      height 36px

    .Select-control
      padding 7px 52px 8px 10px

    .Select-placeholder
      padding 7px 52px 8px 10px

    .Select.is-multi .Select-control
      height 36px
      padding-top 2px

  .Select-option.is-focused
    background #eee

  .Select
    width: 100%
    display block
    padding-right 0


  .Select-item
    color #000
    background #f2f2f2
    border none

  .Select-item-icon
    display none

  .Select-control
    box-sizing border-box
    padding 11px 52px 10px 10px
    border 1px solid
    border-color inherit

  .Select-placeholder
    padding 11px 52px 10px 10px

  .Select.is-multi .Select-control
    height 42px
    padding-top 4px
    box-sizing border-box

  .Select-arrow
    top: 18px
    border-color: #000 transparent transparent
    transition-delay 1s
    transition: transform 0.15s linear

  .is-open > .Select-control > .Select-arrow
    border-color: #000 transparent transparent
    border-width: 5px 5px 0
    transform rotate(-180deg)

  .is-focused:not(.is-open) > .Select-control
    border 1px solid
    border-color inherit
    box-shadow none

  .Select-placeholder
    padding-right 30px
