.short-pagination
  display inline-block
  position relative
  color #7c7c7c
  font-family $Regular

  &__info
    display inline-block
    vertical-align top
    line-height 20px
    margin 12px 15px 0 0

  .short-pagination__btn
    display inline-block
    vertical-align top
    width 40px
    height 42px
    line-height 42px
    font-size 30px
    background none
    border none
    outline 0
    margin 0
    padding 0
    color #a6a6a6

    &:hover
      color $colorGreen

    &_disabled
      opacity 0.4
      color #a6a6a6 !important
      pointer-events none


