$thinBorder = 1px solid #c6c6c6

.table-search
  display block
  border $thinBorder
  font-family $Tahoma
  border-radius $br

  &__row
    display flex
    position relative

    &_main
      display flex
      flex-wrap wrap

    &_separator
      width 87%
      border-bottom $thinBorder

    &_header
      background #4d4d4d
      color #ffffff
      font-weight bold
      border-bottom 5px solid #d1d1d1
      margin -1px -1px 0 -1px
      border-radius $br $br 0 0

      .table-search__row-item
        padding 12px 15px
        border-bottom none

        &_type_actions
          padding-left 25px

    &-action
      display inline-block
      cursor pointer
      font-family $FontAwesome
      font-size 18px
      line-height 42px
      color #515151
      margin 0 3px

      &:hover
        color $colorBlack

      &_delete
        opacity 0.5
        padding-right 10px
        margin-right 7px
        border-right $thinBorder
        
        &:hover
          color $colorRed
          opacity 1
        &::before
          content "\f00d"

      &_up
        &::before
          content "\f01b"

      &_down
        &::before
          content "\f01a"

    &-item
      display inline-block
      vertical-align top
      padding 20px 15px

      .select
        min-width 75px
        width 100%

      .parenthesis
        font-size 36px
        line-height 42px

      &_offset-13
        width 13%

      &_type_actions
        width 13%
        padding-left 20px

      &_type_attr
        width 27%

      &_type_oper
        width 15%

      &_type_value
        width 32%

        .with-action_wrapper
            margin-right 50px
            position relative

          .btn.btn_size_small
            position absolute
            right -50px
            top 0
            margin-top 3px

      &_type_additional
        width 13%
        border-bottom none

        .connector-container
          position absolute
          bottom -20px

        .connector
          position absolute
          bottom 50%
          border $thinBorder
          border-left none
          padding 20px 0
          margin -20px 0px
          width 30px

        .select
          margin-left 10px

      &_type_inner
        width 100%
        margin 0 13%
        padding 20px 15px

    &_state_complex
      &::after
        content ""
        display block
        position absolute
        bottom 0
        left 0
        right 13%
        border-top $thinBorder

  &__content
    display block

    .table-search__row
      flex-direction column

  &__add-row
    display inline-block
    vertical-align middle
    cursor pointer
    color #515151
    white-space nowrap
    user-select none
    margin-right 25px

    .icon
      vertical-align middle
      font-family $FontAwesome
      margin 0 7px 0 0
      font-size 17px
      font-style normal
      text-align center
      position relative
      top -1px

      &.icon-circle {    
        background #515151
        color #fff
        border-radius 50%
        height 14px
        width 14px
        font-size 11px
        line-height 13px
        top -2px
      }

      &.icon-plus::before
        content "\f055"
      &.icon-openpar::before
        content "("
      &.icon-closepar::before
        content ")"

    &:hover
      .icon
        color $colorBlack

        &.icon-circle {    
          background: $colorBlack
          color #fff
        }

  .tabs.tabs-complex-value
    .tabs-menu
      margin 0

      li a
        border none

        &:hover
          background-color transparent

        &::before
          border-color transparent
          border-bottom-color #c9c9c9
          border-width 8px 12px
          margin-left -12px
          margin-top -16px

        &::after
          border-color transparent
          border-bottom-color #f6f6f6
          border-width 8px 12px
          margin-left -12px
          margin-top -15px

  &__footer
    padding 20px 20px 10px 20px

    &-actions
      background #f2f2f2
      margin 20px -20px -10px -20px
      padding 15px 20px
      border-radius 0 0 $br $br
