### SublimeText ###
*.sublime-workspace

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

.idea/
.sass-cache/
# App specific

node_modules/
dist/
src/scripts/libs
webpack-loaders/ts-loader/node_modules/
typings

npm-debug.log

# TypeScript compilation
src/scripts/models/*.js

