// fonts
$Regular = 'open_sansregular', Arial, Tahoma, Verdana, sans-serif
$Medium = 'open_sanssemibold', Arial, Tahoma, Verdana, sans-serif
$Bold = 'open_sansbold', Arial, Tahoma, Verdana, sans-serif
$FontAwesome = 'FontAwesome'
$Tahoma = Tahome, sans-serif

// base font sizes
$baseFontSize = 13px
$baseColor = #454545

// links color
$linkColor = #349d1a
$linkColorHover = #4c9f22
$linkColorActive = #4c9f22

$linkSecondColor = #646464
$linkSecondColorHover = #454545
$linkSecondColorActive = #454545

$btnColor = #ffffff

$btnBgColor = #5dbb2f
$btnBgColorHover = #c72d09
$btnBgColorActive = #a02407
$btnBorderColor = #4c9f22
$btnBgColorDisabled = #bdd1b4

$btnSecondaryColor = #333333
$btnSecondaryBgColor = #ffffff
$btnSecondaryBgColorHover = #e7e7e7
$btnSecondaryBgColorActive = #e6e6e6
$btnSecondaryBorderColor = #cccccc

$btnThirdBgColor = #dcdcdc
$btnThirdBgColorHover = #c2c2c2
$btnThirdBgColorActive = #939292

$colorBlack = #151719
$colorRed = #e84a24
$colorGray = #454545
$colorGreen = #3da417
$colorLightGray = #efefef

$br = 4px

$cubic-bezier = cubic-bezier(0.40, 1.34, 0.51, 1.01)


