// fonts
$Regular = 'open_sansregular', Arial, Tahoma, Verdana, sans-serif
$Medium = 'open_sanssemibold', Arial, Tahoma, Verdana, sans-serif
$Bold = 'open_sansbold', Arial, Tahoma, Verdana, sans-serif
$FontAwesome = 'FontAwesome'
// base font sizes
$baseFontSize = 13px
$baseColor = #454545

// links color
$linkColor = #349d1a
$linkColorHover = #349d1a
$linkColorActive = #349d1a

$linkSecondColor = #515151
$linkSecondColorHover = #515151
$linkSecondColorActive = #515151

$btnColor = #ffffff

$btnBgColor = #e84a24
$btnBgColorHover = #c72d09
$btnBgColorActive = #a02407

$btnSecondaryBgColor = #ff9f19
$btnSecondaryBgColorHover = #e28400
$btnSecondaryBgColorActive = #b56a00

$btnThirdBgColor = #dcdcdc
$btnThirdBgColorHover = #c2c2c2
$btnThirdBgColorActive = #939292

$colorBlack = #151719
$colorRed = #e84a24
$colorGray = #454545


